{% extends "tuisd/base.html" %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4">
		<label for="navbarType">Tipo de barra de navegación:</label>
	</div>
	<div class="col-lg-4">
		<select class="col-lg-4" name="navbarType" id="navbarType">
			<option value="fixed">Fixed</option>
			<option value="static">Static</option>
		</select>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<label for="elementList">Agregar elemento:</label>
	</div>
	<div class="col-lg-4">
		<select name="elementList" id="elementList" onchange="showAddSection()">
			<option value="Navbar Brand">Navbar Brand</option>
			<option value="Link">Link</option>
			<option value="Dropdown">Dropdown</option>
		</select>
	</div>
</div>

<div class="row" id="addLinkSection" style="display: none">
	<div class="col-lg-12">
		<h2>Añadir un elemento</h2>
	</div>
	<div class="col-lg-12">
		<label for="linkName">Nombre del botón:</label>
		<input type="text" name="linkName" id="linkName"/>
	</div>
	<div class="col-lg-12">
		<label for="linkLink">Link del botón:</label>
		<input type="text" name="linkLink" id="linkLink"/>
	</div>
	<div class="col-lg-12">
		<label for="linkOption">Estado del botón:</label>
		<select name="linkOption" id="linkOption">
			<option value="active">Habilitado</option>
			<option value="disabled">Deshabilitado</option>
		</select>
	</div>
	<button onclick="addElement('link')">Añadir elemento</button>
</div>


<div class="row" id="addBrandSection" style="display: none">
	<div class="col-lg-12">
		<h2>Añadir un brand</h2>
	</div>
	<div class="col-lg-12">
		<label for="navbarBrandName">Nombre de la página:</label>
		<input type="text" name="navbarBrandName" id="navbarBrandName"/>
	</div>
	<div class="col-lg-12">
		<label for="navbarBrandLogo">Link del logo:</label>
		<input type="text" name="navbarBrandLogo" id="navbarBrandLogo"/>
	</div>
	<button onclick="addElement('brand')">Añadir elemento</button>
</div>

<div class="row" id="addDropdownSection" style="display: none">
	<div class="col-lg-12">
		<h2>Añadir un Dropdown</h2>
	</div>
	<div class="col-lg-12">
		<label for="dropdownName">Nombre del menú desplegable:</label>
		<input type="text" name="dropdownName" id="dropdownName"/>
	</div>
	<div class="col-lg-12">
		<label for="dropdownItem1">Item:</label>
		<input type="text" name="dropdownItem1" id="dropdownItem1"/>
	</div>
	<div class="col-lg-12">
		<label for="dropdownItem1Link">Link:</label>
		<input type="text" name="dropdownItem1Link" id="dropdownItem1Link"/>
	</div>
	<button onclick="addElement('dropdown')">Añadir elemento</button>
</div>

<script>
	var elements = [];

	function showAddSection() {
		// Obtiene el valor de la opción seleccionada
		var selectedOption = document.getElementById("elementList").value;

		// Muestra la sección correspondiente para crear el elemento a añadir y oculta 
		// las demás secciones que no corresponden con la opción actual
		switch(selectedOption) {
			case "Link":
				document.getElementById("addLinkSection").style.display = "block";
				document.getElementById("addBrandSection").style.display = "none";
				document.getElementById("addDropdownSection").style.display = "none";
				break;

			case "Navbar Brand":
				document.getElementById("addBrandSection").style.display = "block";
				document.getElementById("addLinkSection").style.display = "none";
				document.getElementById("addDropdownSection").style.display = "none";
				break;

			default:
				document.getElementById("addDropdownSection").style.display = "block";
				document.getElementById("addBrandSection").style.display = "none";
				document.getElementById("addLinkSection").style.display = "none";
				break;


		};
	}

	function addElement(element) {
		switch(element) {
			case "dropdown":
				elements.push(element);
				//alert(element);
				break
			case "link":
				var linkName = document.getElementById("linkName").value;
				var linkLink = document.getElementById("linkLink").value;
				var linkOption = document.getElementById("linkOption").value;
				var object = {type: "link", name: linkName, link: linkLink, option: linkOption}
				elements.push(object);
				//alert(element);
				break
			default:
				var brandName = document.getElementById("navbarBrandName").value;
				var brandImage = document.getElementById("navbarBrandLogo").value;
				var object = {type: "brand", name: brandName, link: brandImage}
				elements.push(element);
				//alert(element);
				break
		};
		console.log(elements);
	};

</script>
{% endblock %}

{% block scripts %}

{% endblock %}